/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/12/2015, 3:10:07 PM
    Author     : Christian
*/
/******RESET*****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}



@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    background: #000;
    color: #ccc;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 62.5%;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin line-height($sizeValue: 1.6) {
    line-height: ($sizeValue * 10) + px;
    line-height: ($sizeValue + rem);
}

//vetical align micin with translate and transform
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*New CSS*/
.error-message-name, .error-message-realm {
    color: #bf0d0d;
    @include font-size(1);
    font-weight: bold;
}

.data-content {
    margin: 0 auto;
    position: relative;
    padding-left: 250px;
    padding-right: 250px;
}

.versez-block-3rd {
    width: 36%;
    display: inline-block;
}

.versez-block-1st {
    width: 63%;
    display: inline-block;
    box-sizing: border-box;
}
.versez-title-text {
    padding-left: 185px;
    strong {
        color: #bf0d0d;
    }
    h1 {
        @include font-size(3.5);
        @include line-height(4.2);
        color: white;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 700;
    }
}

.versez-body-content {
    max-width: 1341px;
    max-height: 676px;
    margin: 0 auto;
}
.versez-input {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}
label {
    @include font-size(1.2);
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
}
/**/


h1 {
 @include font-size(2.6);
}

h2 {
    @include font-size(1.6);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-width: 6px;
    font-family: "Open Sans";
    font-weight: 700;
}

.main-content {
    position: relative;
    margin: 0 auto;
    @include vertical-align;
}

.head-content {
width: 100%;
position: relative;
}

nav {
    background: #214958;
    height: 50px;
    ul {
        height: 100%;
        padding-top: 13px;
        position: relative;
        margin: 0 auto;
        max-width: 800px;
        padding: 0 40px;
        li {
            display: inline-block;
            margin-right: 95px;
            margin-top: 13px;
            a {
                color: white;
                @include font-size(1.2);
                display: block;
                text-decoration: none;
            }
        }
    }
}

.versez-logo {
    margin-bottom: 50px;
    max-width: 100%;
}


input[type=text] {
    background: #1f1f1f;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 38px;
    color: #fff;
    @include font-size(1);
    margin-top: 15px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    box-sizing: border-box;
}

//Form styles for individual elements
::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: white;  
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input[type=button] {
    background: none;
    border: none;
    color: white;
    @include font-size(3.4);
    font-family: 'Open Sans','sans-serif';
    font-weight: 700;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.versez-input.btn {
    margin-top: 40px;
    display: table;
}

.versez-go-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.right {
    img {
        position: absolute;
        right: 50%;
        top: 123px;
    }
}

.homebtn {
    display: inline-block;
    vertical-align: middle;
}

.homeinp {
    margin-left: 70px;
}

.enemy {
    margin-top: 125px!important;
}

.stats {
    margin-top: 85px;
    h2:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.teamsVzd, .teamsBeat, .teamsLost {
    display: none;
    padding-bottom: 20px;
    @include font-size(1.3);
}

.body-content {
    @include font-size(1.3);
}

.loader-img {
    display: none;
    width: 110px;
    position: absolute;
    bottom: -20px;
    left: -10px;
}

form {
    margin-top: 48px;
    position: relative;
    z-index: 9999;
}

.bg-img {
    position: absolute;
    right: 60px;
    top: -20px;
}

a:hover {
    opacity: 0.8;
}


//DATA CONTENT
.player-title-data {
    display: inline-block;
    width: 100%;
    padding: 120px 0;
    padding-left: 80px;
    box-sizing: border-box;
    h1 {
        display: inline-block;
        margin-right: 20px;
    }
}

.comments {
    float: right;
    width: 350px;
    .add-comment {
        @include font-size(1);
        background: red;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .comments-area {
        padding-top: 5px;
        width: 100%;
        float: left;
    }
}

//comment popup modal
.comment-modal {
    width: 400px;
    height: 400px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 9999;
    .comment-textarea {
        border-radius: 5px;
        background: #ccc;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }
    .submit-comment {
        @include font-size(1);
        background: red;
        float: right;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


.glow {
    color: #bf0d0d;
}

.arena-titles, .highest-arena-rating, .current-rating {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
}

.new-btn {
    position: absolute;
}

@media only screen and (max-width: 1605px) {
    .data-content {
        padding-left: 100px;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1545px) {
    .versez-body-content {
        max-width: 1041px;
    }
    .versez-title-text {
        padding-left: 145px;
        h1 {
            @include font-size(2.7);
            @include line-height(3);
        }
    }
    
}

@media only screen and (max-width: 1210px) {
    .loader-img {
        width: 70px;
        position: absolute;
        bottom: -9px;
        left: -10px;
    }
    .versez-body-content {
        max-width: 750px;
    }
    .versez-title-text {
        padding-left: 95px;
        h1 {
            @include font-size(2);
            @include line-height(2.4);
        }
    }
    input[type=button] {
        @include font-size(2.6);
    }
    .versez-go-btn {
        width: 45px;
        margin-right: 18px;
    }
    form {
        margin-top: 5px;
    }
    .versez-input {
        margin-bottom: 20px;
    }
    .versez-input.btn {
        margin-top: 20px;
    }
    input[type=text] {
        height: 28px;
        @include font-size(0.8);
        margin-top: 9px;
    }
    label {
        @include font-size(1);
    }
    
    
    //Data Content
    .data-content {
        max-width: 520px;
    }
    .arena-titles, .highest-arena-rating, .current-rating {
        width: 100%;
    }
    .player-title-data {
        padding: 50px 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 840px) {
    .versez-body-content {
        max-width: 550px;
    }
    .versez-title-text {
        
        h1 {
            @include font-size(1.5);
            @include line-height(2);
        }
    }
    input[type=button] {
        @include font-size(2.6);
    }
    .versez-go-btn {
        width: 45px;
        margin-right: 18px;
    }
    form {
        margin-top: 5px;
    }
    .versez-input {
        margin-bottom: 10px;
    }
    .versez-logo {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .versez-input.btn {
        margin-top: 10px;
    }
    input[type=text] {
        height: 28px;
        @include font-size(0.8);
        margin-top: 9px;
    }
    label {
        @include font-size(1);
    }
    .versez-title-text {
        padding-left: 55px;
    }
    
}

@media only screen and (max-width: 615px) {
    .versez-block-3rd {
    width: 100%;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}
.versez-block-1st {
    width: 100%;
}
.versez-title-text {
    padding-left: 25px;
    padding-right: 25px;
}
}

@media only screen and (max-width: 400px) {
    .versez-logo {
        margin-bottom: 10px;
        margin-top: 30px;
        max-width: 70%;
    }
    .versez-block-1st {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    h2 {
        @include font-size(1.3);
    }
    .data-content {
        @include font-size(1);
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
}